body, text {
    font-family: sans-serif;
}
body, svg {
    background-color: #fff;
}
.line {
    fill: none;
    stroke-width: 2;
}
.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}